body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg{
    display: block;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.bar:hover {
    fill: brown;
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font: 12px;
    background: brown;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
  }